/*color codes:
page background:#FAF2F5
nav background:#e8b3ae
header1 text:#133b29
header2 text:#284f3d
header3 text:#945c5c
body text:#0d291c
footer:#0d291c
footer text:#FAF2F5
image borders:#FFFFFF
links:#945c5c
link hover:#2a8259
*/

@media only screen and (min-device-width : 320px) and (max-device-width : 600px){
  body{
    background-color: #FAF2F5;
    color: #0d291c;
    font-family: "Verdana", sans-serif;
    font-size: 14px;
  }

  p{
    padding-left: 15px;
    padding-bottom: 5px;
  }

  img {
    max-width: 100%;
    padding: 10px;
  }

  h1{
    font-family: "Georgia", serif;
    font-size: 32 px;
    color: #133b29;
    padding: 15px;
  }

  h2{
    font-family: "Georgia", serif;
    font-size: 28px;
    color:#284f3d;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-right: 10px;
  }

  h3{
    font-family: "Verdana", sans-serif;
    font-size: 20px;
    color: #945c5c;
    padding: 15px;
  }

  nav{
    background-color:#e8b3ae;
    margin: 0px 0px 15px 0px;
    width: 100%;
    height: auto;
  }

  nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  a{
    color:#945c5c;
  }

  a.hover{
    color:#2a8259;
  }

  a.active {
    color: #2a8259;
    border: 1px solid #133b29;
    font-weight: bold;
  }

  .skip{
    /*something here to make the jump to content slide down like it did in the one hw*/
  }

  footer{
    background-color:#0d291c;
    color:#FAF2F5;
    font-family: "Georgia", sans-serif;
    font-size: 10px;
    text-align: right;
    width: 100%;
    bottom:0;
    left: 0;
    position: relative;
    max-height: 40px;
  }

  /*INDEX page specific*/
  .intro-image{
    border: 5px solid #FFFFFF;
    max-width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  /*ABOUT page specific*/
  .about-text {
    margin-bottom: 20px;
  }

  .form {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-top: 5px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 15px;
  }

  input[type=text] {
    border: 2px solid #945c5c;
    border-radius: 3px;
    background-color: #FFFFFF;
    color: #0d291c;
  }

  input[type=text]:focus {
    border: 3px solid #945c5c;
    border-radius: 3px;
  }

  /*GALLERY page specific*/

  .gallery{
    display: grid;
    max-width: 98%;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
    grid-gap: 5px;
    justify-content: center;

  }

  .gallery img{
    border: 2px solid #FFFFFF;
  }

  .gallery img:hover{
    opacity:0.5;
  }

/*ISSUES page specific*/
  .issues-flex{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }

/*LIST PAGE SPECIFIC*/
  .difficulty-table{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
}


/*OKAY YOURE LEAVING THE MOBILE ZONE AND HEADING TO THE DESKTOP ZONE*/



@media only screen and (min-device-width : 600px){
  body{
    background-color: #FAF2F5;
    color: #0d291c;
    font-family: "Verdana", sans-serif;
    font-size: 14px;
  }

  p{
    padding-left: 15px;
    padding-bottom: 5px;
  }

  h1{
    font-family: "Georgia", serif;
    font-size: 32 px;
    color: #133b29;
    padding: 15px;
  }

  h2{
    font-family: "Georgia", serif;
    font-size: 28px;
    color:#284f3d;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-right: 10px;
  }

  h3{
    font-family: "Verdana", sans-serif;
    font-size: 20px;
    color: #945c5c;
    padding: 15px;
  }
  nav{
    background-color:#e8b3ae;
    margin: 0px 0px 15px 0px;
    width: 100%;
    max-height: 100px;
  }

  nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
  a{
    color:#945c5c;
  }

  a.hover{
    color:#2a8259;
  }

  a.active {
    color: #2a8259;
    border: 1px solid #133b29;
    font-weight: bold;
  }

  footer{
    background-color:#0d291c;
    color:#FAF2F5;
    font-family: "Georgia", sans-serif;
    font-size: 10px;
    text-align: right;
    width: 100%;
    bottom:0;
    left: 0;
    position: fixed;
    max-height: 40px;
  }

}