body {
  background-color: #dfebe7;
  margins: auto;
  font-size: 14px;
  font-family: "Georgia", serif;
  color: #1c2a33;
}

nav {
 background-color: #ffffff;
 color: #9fc4b8;
}

a:link{
  color:#9fc4b8;
}

a:hover{
  text-decoration: underline dotted;
  color:#255243;
}
