body {
    background-color: #fef8f5;
    margin: auto;
    font-size: 14px;
    font-family: "Georgia", serif;
    color: #1c2a33;
  }
  
  h1 {
    font-size: 28px;
    color: #255243;
    padding: 15px;
  }

  img{
      max-width: 300px;
      max-height: 250px;
  }

  p{
      font-size: 14px;
      color:#1d3f34;
      font-family: "Verdana", sans-serif;
    margin-left: 15px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  nav {
   background-color: #ffdbdb;
   color: #1d3f34;
   display: flex;
   spacing: 10px;
   flex-direction: row;
   justify-content: flex-end;
   align-items: center;

  }

nav li{
  display:inline;
  padding: 7px;
}

.skip a:focus {
  top: 0px;
  left: 0;
  padding: 5px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
  position: absolute;
  top: -40px;
}

.skip a:focus {
  top: 0px;
}
  
  a:link{
    color:#855D5D;
  }
  
  a:hover{
    text-decoration: underline dotted;
    color:#255243;
  }

  a:focus{
      text-transform: uppercase;

  }

  .gallery{
      display: grid;
      width: auto;
      min-height: 800px;
      grid-template-columns: auto auto auto auto;
      grid-template-rows: auto auto auto auto;
      grid-gap: 50px;
      align-content:center;
/*might have to individually place all the grid items*/

  }
  .gallery > img{
      border: 3px solid #ffffff;
      margin: 10px;
      max-width: 300px;

  }

.main img{
  display: flex;
  max-width: 500px;
  justify-content: center;
}

  footer{
      color: #fef8f5;
      background-color: #255243;
      margin-top:15px;
      padding: 15px;
      text-align: right;
      font-family: "Georgia", serif;
      
  }
@media (prefers-reduced-motion: reduce)
  
